
<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <title>Blood Coin Project</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <meta property="og:title" content="">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="">
	<meta property="og:description" content="">

  <!-- Styles -->
  <link rel="stylesheet" href="./template/css/font-awesome.min.css">
  <link rel="stylesheet" href="./template/css/animate.css">
  <link rel='stylesheet'href='./template/css/styleSheet.css'>


  <link rel="stylesheet" href="./template/css/bootstrap.min.css">
  <link rel="stylesheet" href="./template/css/main.css">

  <script src="./template/js/modernizr-2.7.1.js"></script>

</head>
<body>

<section id="signup" class="pad-lg light-gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <i class="fa fa-envelope-o margin-40"></i>
        <h2 class="black">회원가입</h2>
        <br />
        <p class="black">하기 항목들을 정확하게 기입하세요.</p>
        <br />
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="logo" href="http://localhost:3000"><h5>Blood Coin</h5></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <!-- 이부분이 휠 내릴시 나오는 창임 -->
                <li><a href="#signin">로그인</a></li>
              </ul>
            </div><!--/.navbar-collapse -->
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <form role="form" action="/signup" method="post">
              <div class="form-group">
                <input type="name" class="form-control" placeholder="성명" name="personName" required>
                <input type="Birth" class="form-control" placeholder="생년월일 ex)19971220" name="personBirthDate" required>
                <input type="bloodtype" class="form-control" placeholder="혈액형" name="personBloodType" required>
                <input type="email" class="form-control" placeholder="이메일 주소" name="personEmail" required>
                <input type="wallet" class="form-control" placeholder="전자지갑 주소" name="personPocket" required>
                <input type="id" class="form-control" placeholder="사용하고 싶은 아이디" name="personID" required>
                <input type="password" class="form-control" placeholder="사용하고 싶은 비밀번호" name="personPwd" required>
                <input type="password" class="form-control" placeholder="비밀번호 확인" name="personPwd2" required>
              </div>
             <button type="submit" class="btn btn-primary btn-lg">제출</button>
            </form>
          </div>
        </div><!--End Form row-->
        <br>
      </div>
    </div>
  </div>
</section>

</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
 <script>window.jQuery || document.write('<script src="./template/js/jquery-1.11.0.min.js"><\/script>')</script>
 <script src="./template/js/wow.min.js"></script>
 <script src="./template/js/bootstrap.min.js"></script>
 <script src="./template/js/main.js"></script>

</html>
